<div class="question_container">
    <p class="no"><%= qNumber%></p>
    <p class="question"><%= question%></p>
    <fieldset class="torf_container">
        <input type="radio" id="true" name="torf" value="true">
        <label for="true">True</label>
        <input type="radio" id="false" name="torf" value="false">
        <label for="false">False</label>
    </fieldset>
</div>