<footer>
    <div class="members">
        <h6> Team Members: </h6>
        <p class="group__mates"> Jun Roy Gahid </p>
        <p class="group__mates"> Danielle Nicole Javier </p>
        <p class="group__mates"> El Charis Laguitan </p>
        <p class="group__mates"> Joanne Mangsat </p>
        <p class="group__mates"> Eugene Justin Pangwi</p>
        <p class="group__mates"> Francisco Miguel Villa </p>
    </div>
</footer>