@import url(./FontAndColors.css);
@import url(./teacherModule.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--fnt-Quicksand);
}

body{
    background-color: var(--clr-background);
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5ch;
    background-color: #391042;
    padding: 1.5rem;
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
}

form > :nth-child(1) {
    width: 60%;
    margin-top: 6rem;
    background-color: var(--clr-chart-purple);
    font-size: 2ch;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    color: white;
}

form > :nth-child(1) >*:is(label) {
    margin-bottom: 0.3rem;
}

form > :nth-child(1) >*:is(input) {
    width: 100%;
    margin-bottom: 0.5rem;
}

fieldset > input[type="submit"] {
    background-color:rgb(71, 173, 85) ;
    margin-top: 2rem;
    padding: 1rem;
    width: 30%;
    margin: 0 auto;
    color: white;
    border-radius: 2rem;
    font-weight: bold;
}


