<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>
        <img src="/css/images/logo_square.png">
        <form action="/login" method="post">
            <div id="error_message">
                <h3 id="error_message_text">
                    <%- errMessage %>
                </h3>
            </div>
            <div>
                <div>
                    <label class="username_label"> User ID: </label>
                    <input type="text" name="userid" required>
                </div>
                <div>
                    <label class="password_label"> Password: </label>
                    <input type="password" name="password" required>
                </div>
                <input type="submit" class="login_btn" value="Login">
            </div>
        </form>
    </main>
</body>
</html>