<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main class="Main_Section">
        <form action="/login" method="post" class="Main_Section">
            <div id="error_message" class="error_message">
                <h1 id="error_message_text">
                    <%- errMessage %>
                </h1>
            </div>
            <img class="login_logo" src="styles/images/logo_square.png" alt="" />
            <div class="input_section">
                <div class="username_section">
                    <label class="username_label"> User ID: </label>
                    <input type="text" name="userid" required>
                </div>
                <div class="password_section">
                    <label class="password_label"> Password: </label>
                    <input type="password" name="password" required>
                </div>
                <input type="submit" class="login_btn" value="Login">
            </div>
        </form>
    </main>
</body>
</html>