<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Page </title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div>
        <div>
            <img src="css/images/logo_white.png" alt="" />
            <h1> Student Landing </h1>
        </div>
        <main>
            <form method="post" action="/login">
                <div class="errorMsg">
                    <%- errMessage %>
                </div>
                    <div>
                        <label>User ID: </label>
                        <input type="text" placeholder="Enter User ID" id="userid" name="userid" required>
                    </div>
                    <div>
                        <label>Password: </label>
                        <input type="password" placeholder="Enter Password" id="password" name="password" required>
                    </div>
                    <button type="submit" name="login_btn" value="Login">Login</button>
            </form>
            <div>
                    <h2> If password is forgotten please contact management</h2>
            </div>
        </main>
    </div>
</body>
</html>
