@font-face { font-family: 'Roboto-Light'; src: url(./fonts/Roboto-Light.ttf); }
@font-face { font-family: 'Roboto-Medium'; src: url(./fonts/Roboto-Medium.ttf); }
@font-face { font-family: 'Quicksand'; src: url(./fonts/Quicksand-VariableFont_wght.ttf); }
@font-face { font-family: 'Raleway'; src: url(./fonts/Raleway-VariableFont_wght.ttf); }
@font-face { font-family: 'Caveat'; src: url(./fonts/Caveat-VariableFont_wght.ttf); }

:root {
    --clr-header-purple: #472C4D;
    --clr-font-purple: #5D5D86;
    --clr-chart-purple: #8684A5;
    --clr-chart-grey: #A5ADAE;
    --clr-background: #DBDBDB;
    --clr-neon-purple: #833395;
    --clr-button-green: #8DC384;
    --clr-quizlet-back: #C8CCCC;
    --clr-white: white;

    --fnt-roboto-light: 'Roboto-Light';
    --fnt-roboto-reg: 'Roboto-Medium';
    --fnt-Quicksand: 'Quicksand';
    --fnt-Raleway: 'Raleway';
    --fnt-footer-names:'Caveat';
}