@import url(./FontAndColors.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--fnt-Quicksand);
}


header {
    background-color: #472C4D;
    padding: 2rem;
    color: white;
    font-size: 2ch;
}

body {
    background-color: #DBDBDB;
}

h1 {
    font-size: 4ch;
}

h2 {
    font-size: 3.3ch;
}

main {
    padding: 4rem;
}

main > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

main > :nth-child(1) > :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
}

.quizSubject {
    color: #472C4D;
}

.QuestionContainer {
    display: flex;
    flex-direction: column;
    background-color: #A1A5C8;
    padding: 2rem;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

.QuestionContainer > * > :nth-child(1) {
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.choices {
    margin-top: 1rem;
}

.return {
    width: 20rem;
    height: 4rem;
    border: none;
    border-radius: 4rem;
    color: white;
    font-size: 3ch;
    background-color: #629051;
    cursor: pointer;
}

.return:hover {
    background-color: #406732;
}