<footer>
    <div>
        <img src="/css/images/logo_white.png" alt="">
    </div>
    <div class="footer__mid">
        <h3 class="footer__socials"> Check our  <span class="socials">socials!</span></h3>
        <div class="logo__container">
            <img src="./style/images/fblogo.png" alt="">
            <img src="./style/images/iglogo.png" alt="">
            <img src="./style/images/twitterlogo.png" alt="">
        </div>
    </div>
    <div class="members">
        <h3> Team Members: </h3>
        <p class="group__mates"> Jun Roy Gahid </p>
        <p class="group__mates"> Danielle Nicole Javier </p>
        <p class="group__mates"> El Charis Laguitan </p>
        <p class="group__mates"> Joanne Mangsat </p>
        <p class="group__mates"> Eugene Justin Pangwi</p>
        <p class="group__mates"> Francisco Miguel Villa </p>
    </div>
</footer>