<header className="Header_Section">
    <img className="studentLOGO" src="css/images/logo_square.png" alt="" />
    <div className="header__greet">
        <h1 className="greetingTXT"> <span className="studentName"><%= studentName%>,</span> Hello! </h1>
        <div className="header__buttons">
            <a href="/logout"><button className="buttons">Log out</button></a>
        </div>
    </div>
</header>